body {
	background-color:#fff09c;
	font-family:'Roboto Condensed';
}

ul.menu {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	background-color: #004dac;
	height: 22px;
	font-weight: bold;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	max-width: 944px;
}

ul.menu li {
	list-style: none;
	display: block;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

ul.menu a {
	color: #fff09c;
	text-decoration: none;
}

ul.menu a:hover {
	background-color: #fff09c;
	color: #004dac;
}

h1 {
	color:#026400;
	font-weight: normal;
	font-size:40pt;
	font-stretch:expanded;
	border:2px solid #004dac;
	border-radius:10px;
	padding:15px;
	max-width:1000px;
	text-align:center;
	margin-bottom: 0;
}

